@CHARSET "ISO-8859-1";

#main {
	width =: 80%;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
}

#head {
	width =: 100%;
	height: 80px;
	background-color: lime;
}

#body {
	width =: 100%;
	height: 500px;
	background-color: aqua;
}

#footer {
	width =: 100%;
	height: 50px;
	background-color: green;
}

ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 10;
	list-style-type: none;
}

a {
	float: left;
	width: 6em;
	text-decoration: none;
	color: white;
	background-color: purple;
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
}

a:hover {
	background-color: fuchsia;
}

li {
	display: inline;
}




